
@tailwind base;
@tailwind components;
@tailwind utilities;



@media screen and (max-width:850px) {
    .navItem{
        display: none;
    }

    .main{
        width: 100vw;
        /* align-items: center; */
        margin-left: 30px;
        
    }

    #intro{
        display: flex;
        
    }

    .name{
        /* font-size: larger */
        width: 92vw;
        font-size: 5rem;
        
    }

    .description{
        /* font-size: small; */
        width: 92vw;
    }

    .project_btn{
        justify-self: center;
    }

    #experience{
        width: 92vw;
    }

    #skills{
        width: 92vw;
    }

    .skill_section{
        /* margin-left: 10px; */
        justify-self: center;
        gap: 20px;
        width: 70%;
        
    }

    .skill_subsection{
        margin-top:2px;
        flex-direction: column;
    }

    .skill_name{
        flex-direction: column;
        justify-self: center;
        
    }

    .skill_divide{
        display: flex;
        justify-self: center;
       
    }

    #contact{
        width: 92vw;
    }

    .contact_img{
        width: 30px;
    }

    .contact_details{
        align-items: center;
    }


    .projects{
        grid-auto-columns: 1;
        align-items: center;
        width: 92vw;
        gap: 50px;
    }

    .three_dot{
        opacity: 100;
        
    }

    .navbar{
        justify-content: space-around;
        align-items: center;
    }

    .major_project{
        width: 92vw;
        padding-left: 10px;
    }

    .major_project_desc{
        width: 86vw;
        margin-left: 10px;
    }
}